/* Write your CSS here */
.bg-container {
  background-color: white;
  height: 100vh;
  /* width: auto; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.heading {
  font-size: 50px;
  font-weight: bold;
  color: #252627;
}
.search-card-container {
  display: flex;
  background-color: #f1f5f9;
  border: 10px;
}
.search-card {
  border: none;
  outline: none;
  padding: 5px;
  background-color: #f1f5f9;
  color: #0f172a;
  font-weight: bold;
  font-weight: 19px;
  border-radius: 5px;
}
.search-icon {
  height: 30px;
  width: 30px;
  background-color: #f1f5f9;
  border-radius: 10px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 40vh;
  padding: 5px;
}
